/* Layout general de la pagina */

:root {
    --background-colour: #000100;
    --text-colour: #e1e1e0;
    --text-font: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

#navar-spotify-icono {
    height: 20px;
    width: auto;
}