/* Layout general de la pagina */

:root {
    --background-colour: #000100;
    --text-colour: #e1e1e0;
    --text-font: "Montserrat", sans-serif;
    /* El color de la zona derecha donde estan las canciones */
    --songs-colour: #212120;
    /* El color de fondo de la sección de crear playlist y buscar podcast */
    --sidebar-colour: #1f1f1f;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-colour);
    background-color: var(--background-colour);
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

nav img {
    height: 30px;
    width: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100%;
}