/* Layout general de la pagina */

:root {
    --background-colour: #000100;
    --text-colour: #e1e1e0;
    --text-font: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-colour);
    background-color: var(--background-colour);
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

nav img {
    height: 30px;
    width: auto;
}